<div class="container">
  <img class="logo" src="../../assets/logo.svg">
  <h1>Monitoring</h1>
  <div class="monitoring">

    <div class="section">
      <h2>Usage</h2>
      <div class="data">
        <div class="item">
          <div class="number">3</div>
          <div class="text">clicks on Overview</div>
        </div>
        <div class="item">
          <div class="number">3</div>
          <div class="text">clicks on Mortgages</div>
        </div>
        <div class="item">
          <div class="number">3</div>
          <div class="text">clicks</div>
        </div>
        <div class="item">
          <div class="number">3</div>
          <div class="text">clicks</div>
        </div>
      </div>
    </div>
    <div class="section">
      <h2>Chosen Products</h2>
      <ul class="data list">
        <li>
          <span class="number">5</span>
          <span class="text">mortgages</span>
        </li>
        <li>
          <span class="number">3</span>
          <span class="text">savings</span>
        </li>
      </ul>
    </div>
    <div class="section">
      <h2>Performance</h2>
      <div class="data">
        <div class="item">
          <div class="number">500</div>
          <div class="text">requests breached</div>
        </div>
      </div>
    </div>

  </div>
</div>