<div class="container">
  <div>
    <img src="../../assets/logo.svg">
  </div>
  <h1>Welcome to ING Banking Portal</h1>
  <div class="main_container">
    <div class="sub_containter">
      <div class="customer-login">
        <div class="button_cont" align="center">
          <a class="button" routerLink="/customer-overview" routerLinkActive="active">Customer Login</a>
        </div>
      </div>
    </div>

    <div class="sub_containter">
      <div class="customer-login">
        <div class="button_cont" align="center">
          <a class="button" routerLink="/business-overview" routerLinkActive="active">Business Login</a>
        </div>
      </div>
    </div>
  </div>

</div>