<div class="container">
  <div class="image_holder">
    <img src="../../assets/logo.svg">
  </div>
  <h1>Products ING</h1>
  <div class="row">
    <div class="col">
      <h2>Product(s)</h2>
      <div class="tabs">
        <div class="tab" *ngFor="let allProduct of allProducts;  let i= index">
          <input type="checkbox" id="{{'chck'+i}}">
          <label class="tab-label" for="{{'chck'+i}}">{{allProduct.name +'('+ allProduct.products.length + ')'}}
          </label>
          <div class="tab-content" *ngFor="let product of allProduct.products">
            <span class="material-icons"> keyboard_arrow_right </span> <a
              href="/product-overview?product={{product.id}}">
              {{product.name}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>