<div class="container">
  <div class="image_holder">
    <img src="../../assets/logo.svg">
  </div>

  <h1>Products ING</h1>

  <div class="row">
    <div class="col">
      <h2>Product(s)</h2>
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1">
          <label class="tab-label" for="chck1">Item 1</label>
          <div class="tab-content">
            <span class="material-icons"> keyboard_arrow_right </span> <a href="/product-overview">
              Lorem ipsum dolor sit amet consectetur,
              adipisicing elit. Ipsum, reiciendis!
            </a>
          </div>

        </div>
        <div class="tab">
          <input type="checkbox" id="chck2">
          <label class="tab-label" for="chck2">Item 2</label>
          <div class="tab-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
          </div>
          <div class="tab-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
          </div>
          <div class="tab-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
          </div>
          <div class="tab-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>