// @import 'material-icons/iconfont/material-icons.scss';
@font-face {
    font-family: 'INGMeWeb';
    src: url('/assets/INGMeWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
